.headerLanding{
    position: fixed;
    width:100%;
    z-index: 99999999999999999;
}

.LogoHeader{
    width: 100px;
    margin: 5px 0px 0px 20px;
}

.listaHeader{
    width:90%;
}

.listaHeader li {
    width: 30%;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.sectionHome{
    padding-top:130px;
}

.imgBannerHome{
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid #ccc;
}

.imgBannerSomos{
    width:50%;
    margin-left:25%;
}

.titleSomos{
    font-family: 'Lato-Bold';
    font-size:40px;
    text-align: center;
    margin-bottom: 10px;
    color:#4a4a4a;
}

.detailSomos{
    text-align: center;
    padding: 0px 20%;
    font-family: 'Lato-Regular';
    font-size: 15px;
    color: #9a9292;
    margin: 0px 0px 15px 0px;
}

.sectionBannerSomos{
    margin:80px 0px;
}

.sectionBannerFunciona{
    margin: 80px 0px;
    text-align:center
}

.btn,.btn:hover, .btn:focus{
    background:#72d285;
    width:250px;
}

.positionInlineBlock{
    display:inline-block;
}

div .itemResultado p{
    display: inline-block;
    width: 50%;
    text-align: center;
}

footer{
    padding: 20px 3%;
    margin: 0 auto;
    width: 100%;
    color: #686f7a;
    font-family: 'Lato-Regular';
    border-top: 1px solid #ccc; 
    border-bottom: 10px solid #f38a8a;
}

footer img {
    width: 100px;
    margin: 0 10px;
}

footer p {
    vertical-align: text-bottom;
}

footer ul li{
    display: inline-block;
    margin: 0 5px;
    text-decoration: underline;
    color: #007791;
    font-size:14px; 
}

.sectionRegistro{
    width: 50%;
    margin: 0 auto;
    padding-top:80px;
}

.sectionRegistro p{
    text-align: center;
    font-size: 22px;
    text-align: center;
    font-family: 'Lato-Bold'
}

.btnHeaderSecond{
    margin-right: 100px;
}

.btnregistro{
    text-align:center;
}

.btnregistro a, .btnregistro a:hover, .btnregistro a:focus{
    background:#da2b2b;
    margin-bottom: 50px;
}


.nav-wrapperTitle{
    border-top:3px solid #f3dcdc;
    height: 33px !important;
    padding: 5px 0px;
}

.nav-wrapperTitle div h3{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Lato-Bold';
    text-align: center;
    line-height:1;
}

.nav-wrapperOptions{
    border-top: 3px solid #f3dcdc;
    height: 40px !important;
    padding: 0px;
}

.nav-wrapperOptions .items{
    width: 100%;
    height: 40;
    line-height: 40px;
}

.nav-wrapperOptions .items p{
    padding: 0px !important;
    margin: 0px !important;
    height: 40px;
    width: 50%;
    text-align: center;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.nav-wrapperOptions .items p:hover{
    background:#fa545a;
    margin-bottom: 50px;
    height: 50px;
    font-size: 20px;
    transition-duration: 800ms;
}

.nav-wrapperOptions .items p:nth-child(1){
    border-right: 1px solid #f3dcdc;
}

.homeCliente{
    width: 90% !important;
    padding-top: 10px !important;
}

.bxHomeCliente{
    background: #7b99d2 !important;
    border: 0px;
}

.boxHomeCliente div p:hover{
    background: #497ddd !important;
    border: 0px;
}

.margenes{
    height: 10px;
}

.titleHome{
    font-size: 25px;
    font-family: 'Lato-Regular';
    text-align: center;
    text-decoration: underline;
    font-weight: 100px;
    
}

.itemResultado{
    border: 0.5px solid #686f7a;
    padding: 0px;
    margin: 0px;
}

.itemResultado>.boxItemResult{
    padding: 0px;
    margin: 0px;
}

.itemResultado>.boxItemResult:hover{
    background: rgb(224, 201, 201) !important;
}


@media only screen and (max-width: 992px){
    .LogoHeader{
        width: 100px;
    }

    .sectionRegistro{
        width: 90%;
    }

    .btnregistro a{
        width:100%;
    }

    .titleSomos{
        font-size: 22px;
    }
}